/* --------------------------------EJEMPLO H2------------------------------*/
/* ------------------position:relative y absolute --------------------------*/
/* Defino el atributo de despliegue por bloque a los divs */

div {
  display: block;
}

/* atributo box_1( id )
   propiedad: posición relative permite ser Estática con flujo de documento
   pero que puede variar sus características de borde, margen, ancho y alto
   */
#box_1 {
  position: relative;
  width: 200px;
  height: 200px;
  background: #ee3e64;
}

/* atributo box_2( id )
   se le da la propiedad position absolute, puede aceptar valores top, left,
   rigth y bottom. Este elemento no estará dentro del flujo normal de la página
   y tomará como referencia la ventana del navegador o el elemento posicionado
   que tenga cualquier valor de position excepto static, mas cercano si es padre
   del elemento que queremos posicionar*/
#box_2 {
  position: absolute;
  left: 100px;
  width: 200px;
  height: 200px;
  background: #44accf;
}
