/* --------------------------------EJEMPLO H------------------------------*/
/* ---------------------------position:absolute --------------------------*/
/* Defino el atributo de despliegue por bloque a los divs */

div {
  display: block;
}

/* Se definen atributos particulares a los IDs particulares  */
/* Se definen atributos de position , que es igual a la posición por
defecto , que respeta el flujo normal del documento pero puede acepta
definirle modificación en la posiciones rigth, left, top, bottom, teniendo
de referencia a su padre , en este caso el body*/

#box_1 {
  position: absolute;
  top: 0;
  right: 20%;
  bottom: 0;
  left: 0;
  background: #ee3e64;
}

#box_2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 80%;
  background: #b7d84b;
}
